<style>

/* BASIC RESET */
*{margin:0;padding:0;box-sizing:border-box;}
body{ background:#f4f4f4;}

/* HEADER */
header{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#fff;
    border-bottom:1px solid #ddd;
}

.header_icons i{
    margin-left:15px;
    font-size:20px;
    cursor:pointer;
}

/* PAGE TITLE */
.page_title{
    width:100%;
    text-align:center;
    padding:40px 0;
    background-color:  rgb(24, 29, 78);
    color:white;
    font-size:40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* BLOG SECTION */
.blog_section{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:40px;
}

/* BLOG ITEM */
.blog_box{
    width:90%;
    max-width:800px;
    background:white;
    margin-bottom:40px;
    border-radius:10px;
    overflow:hidden;
}

.blog_box img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.blog_content{
    padding:25px;
    text-align:center;
}

.blog_content h2{
    margin-bottom:10px;
    color:#222;
}

.blog_content p{
    margin:15px 0;
    color:#555;
}

.blog_content .read_more{
    display:inline-block;
    margin-top:10px;
    padding:10px 25px;
    background:#0FA6D3;
    color:white;
    border-radius:20px;
    text-transform:uppercase;
}

/* FOOTER */
footer{
    background:#222;
    color:white;
    padding:40px 0;
    text-align:center;
    margin-top:60px;
}

</style>