<style>

*{margin:0;padding:0;box-sizing:border-box;}
body{background:#f4f4f4;}

/* HEADER */
header{
    width:100%;
    background:#fff;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #ddd;
}
.header-icons i{margin-left:15px;font-size:20px;}

/* PAGE TITLE */
.page-title{
    width:100%;
    text-align:center;
    padding:40px 0;
    background-color: rgb(24, 29, 78);
    color:#000;
    font-size:40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* FULL-WIDTH GRID */
.contact-grid{
    width:100%;
    display:grid;
    grid-template-columns:1fr 1fr; 
    gap:40px;
    padding:40px;
}

/* FORM BOX */
.form-box,
.info-box{
    background:#fff;
    padding:30px;
    border-radius:15px;
}

/* FORM */
input, textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}
textarea{height:150px;}

button{
    padding:12px 30px;
    background:#0FA6D3;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

/* INFO ITEMS */
.info-item{
    display:flex;
    margin-bottom:25px;
}
.info-icon{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#e7faff;
    color:#090909;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    margin-right:15px;
}
.info-text h3{margin-bottom:5px;}

/* MOBILE */
@media(max-width:768px){
    .contact-grid{
        grid-template-columns:1fr;
        padding:20px;
    }
}

</style>